Screen {
    layout: vertical;
}

#status {
    dock: top;
    padding: 0 1;
    height: 1;
    background: $surface;
    color: $text;
}

#stories {
    height: 1fr;
}

StoryListItem {
    height: auto;
    min-height: 3;
    padding: 0 1;
}

StoryListItem > .story-title {
    text-style: bold;
    color: $accent;
}

StoryListItem > .story-meta {
    color: $text-muted;
}

StoryListItem.-highlight {
    background: $accent;
}

StoryListItem.-highlight > .story-title,
StoryListItem.-highlight > .story-meta {
    color: $text;
}

#story-header {
    padding: 1 2;
    text-style: bold;
    color: $accent;
}

#story-text {
    padding: 0 2;
    height: auto;
}

#comments-status {
    padding: 0 2;
    color: $text-muted;
}

#comments {
    height: 1fr;
}

CommentListItem {
    height: auto;
    min-height: 3;
    padding: 0 1;
}

CommentListItem > .comment-meta {
    color: $text-muted;
}

CommentListItem > .comment-body {
    color: $text;
}

CommentListItem.-highlight {
    background: $accent;
}

CommentListItem.-highlight > .comment-meta,
CommentListItem.-highlight > .comment-body {
    color: $text;
}
